@model MusicStore.Entities.Album

@{
    ViewBag.Title = "DateChoosing";
}

@using (Html.BeginForm())
{
<h2>DateChoosing</h2>
<div class="form-group">
    Выберите дату для записи
    <div class="col-md-10">
        @Html.DropDownList("Date", ViewData["DateDD"] as SelectList, String.Empty, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
    </div>
    <br>
    <input type="submit" value="Choose" class="btn btn-default" />
    <br>
</div>
}